<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit https://go.microsoft.com/fwlink/?LinkId=301874 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  
  
  <connectionStrings>
    <add name="DefaultConnection"
           connectionString="Data Source=184.168.194.75;Initial Catalog=goyals420_spike;UserId=cisspike;Password=cis420spike;" providerName="System.Data.SqlClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>

  <system.web>
    <trust level="Full"/>
  </system.web>
  
</configuration>
