@{
    ViewBag.Title = "Forgot Password Confirmation";
}

<hgroup class="title">
    <h1 class="common-Uppercase text-center">@ViewBag.Title</h1>
</hgroup>
<div>
    <p class="common-BodyText text-center">
        Please check your email to reset your password.
    </p>
</div>
	
