@model KYHBPA_TeamA.Models.Membership

@{
    ViewBag.Title = "MembershipError";
}

<h2>Membership Error</h2>

<div>
    <h4>Membership Error</h4>
    <hr />
    <dl class="dl-horizontal">
        You have already applied for a membership.
    </dl>

</div>

