@model IEnumerable<KYHBPA_TeamA.Models.DisplayDocumentsViewModel>

@{
    ViewBag.Title = "Documents";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="jumbotron text-center">
    <div class="container">
        <h1 common-Uppercase>
            Documents Library
        </h1>
        <p class="text-muted">
            Please feel free to download any of the documents below.  Thank you!
        </p>
    </div>
</section>


@for (int i = 0; i <= Model.Count() / 3; i++)
 {
    <div class="row documentRow">

        @foreach (var document in Model.Skip(i * 3).Take(3))
        {
            <div class="col-md-4 documentCardHolder">
                <div class="documentCard">
                    <p class="documentTitle">
                        @document.Title
                    </p>
                    <p class="common-BodyTextSmall">
                        @document.Description
                    </p>
                    @Html.ActionLink("Download", "GetDocument", new { document.Id }, new { @class = "common-Button documentDownloadButton", target = "_blank" })
                </div>
            </div>
        }
    </div>     
 }


