
@{
    ViewBag.Title = "Admin Controls";
}

<h2 class="common-Uppercase">Welcome to the Admin Control Panel!</h2>

<p class="common-BodyText">Click the links below to be taken to the corresponding Adminstrator view:</p>

<ul class="common-BodyText">
    <li>
        <a href="~/Views/Blog/Manage.cshtml">Manage Blogs</a>
    </li>
    <li>
        <a href="~/Views/BoardOfDirectors/Admin.cshtml">Manage Board of Directors</a>
    </li>
    <li>
        <a href="~/Views/Event/Index.cshtml">Manage Calendar Events</a>
    </li>
    <li>
        <a href="~/Views/Manage/ManageLogins.cshtml">Manage Logins</a>
    </li>
    <li>
        <a href="~/Views/Document/Admin.cshtml">Manage Documents</a>
    </li>
    <li>
        <a href="~/Views/Photo/Admin.cshtml">Manage Photos</a>
    </li>
</ul>

