
@{
    ViewBag.Title = "Admin Controls";
}

<h2 class="common-Uppercase">Welcome to the Admin Control Panel!</h2>

<p class="common-BodyText">Click the links below to be taken to the corresponding Adminstrator view:</p>

<ul class="common-BodyText">
    <li>
        <a href="/Blog/Manage">Manage Blogs</a>
    </li>
    <li>
        <a href="/BoardOfDirectors/Admin">Manage Board of Directors</a>
    </li>
    <li>
        <a href="/Event/Index">Manage Calendar Events</a>
    </li>
    <li>
        <a href="/Manage/ManageLogins">Manage Logins</a>
    </li>
    <li>
        <a href="/Document/Admin">Manage Documents</a>
    </li>
    <li>
        <a href="/Photo/Admin">Manage Photos</a>
    </li>
</ul>

