
@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model KYHBPA_TeamA.Models.BlogListViewModel

<div id="content">

    <h2 class="common-Uppercase">News and Blog</h2>

    <a href="/Blog/Create" class="common-Button">Create</a>
    <a href="/Blog/ViewByCategory/1" class="common-Button">Browse Blog Posts</a>
    <a href="/Blog/ViewByCategory/2" class="common-Button">Browse News</a>
    @Html.Partial("_PagerPartial", Model)

    @if (Model.Posts.Count > 0)
    {
        foreach (var post in Model.Posts)
        {
            @Html.Partial("_PostTemplatePartial", post)
        }
    }
    else
    {
        <p>No posts found!</p>
    }

    @Html.Partial("_PagerPartial", Model)

</div>