@model KYHBPA_TeamA.Models.DisplayPostsViewModel

@{
    ViewBag.Title = "Read";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="postReadMoreTitle">
    @Model.Title
</h2>

<div class="postReadMoreImageArea">
    <img class="postReadMoreImage" src="@Url.Action("GetBlogOrNewsImage", "Blog", new { Model.Id })" />
</div>

<div class="postReadMoreDescription">
    @Html.DisplayFor(model => model.Description)
</div>

<p>
    @Html.ActionLink("Back to List", "Index")
    Comment here
</p>
