@{
    ViewBag.Title = "About";
}
<h2><b>About Us</b></h2>
<h3 class="text-center">The HBPA is you!</h3>
<p>
    The HBPA, established in 1940, is an organization of Owners and Trainers, approximately 40,000 natinally in 23 states and Canada, and over 6,000 in Kentucky.
    The association is governed by a Board of Directors consisting of OWners and Trainers volunteering their time and elected by the membership every three years.
    The HBPA is committed to working for the betterment of racing on all levels.
</p>
<p>
    The HBPA represents owners and trainers on several fronts:
</p>
<ul>
    <li>
        In negotiating sessions with each race track regarding purse structure, equitable share of simulcast revenues, overall track safety, sanitation and security.
    </li>
    <li>
        The HBPA provides benevolence to horsemen in need, education and recreation programs to the backstretch, various insurance packages which include, free of charge to members, Fire and Disaster Insurance and Claiming Insurance. Visit one of the fully staffed HBPA offices at the currently running race track in Kentucky for details.
    </li>
</ul>
