@{
    ViewBag.Title = "About";
}

<h1 class="common-Uppercase text-center">About Us</h1>

<section id="primary">
    <div class="cols container-lg">
        <p class="common-BodyText aboutUsDescription">
            The Horsemen’s Benevolent & Protective Association, established in 1940,
            is the world’s largest Thoroughbred horsemen’s organization, representing
            approximately 40,000 owners and trainers nationally in 23 states and Canada
            and more than 6,000 in Kentucky. The association is governed by a board of directors
            consisting of owners and trainers volunteering their time and elected by the Kentucky
            membership every three years. The HBPA is committed to working for the betterment
            of racing on all levels. We are Horsemen helping Horsemen across the Commonwealth
            and you can join our cause!
        </p>
    </div>
</section>

<hr class="featurete-divider" />

<div class="row aboutUsFeature">
    <div class="col-md-7">
        <h2 class="aboutUsFeatureHeading">
            Negotiating contracts <span class="text-muted"> at all five Kentucky Thoroughbred tracks.
            </span>
        </h2>
        <p class="lead">
            We are the only organization negotiating contracts at all five Kentucky Thoroughbred tracks,
            working to secure the highest purse structure possible, equitable share of simulcast revenues,
            maximum track safety, sanitation and security.
        </p>
    </div>
    <div class="col-md-5">
        <img class="aboutUsImage" src="~/Content/AboutUsImages/KHBPA About Us page The Player at Keeneland .jpg" />
    </div>
</div>


<hr class="featurete-divider"/>

<div class="row aboutUsFeature">
    <div class="col-md-5">
        <img class="aboutUsImage" src="~/Content/AboutUsImages/KHBPA web EP College Day presentation .jpg" />
    </div>
    <div class="col-md-7">
        <h2 class="aboutUsFeatureHeading">
            Providing benevolence <span class="text-muted">to horsemen in need.</span>
        </h2>
        <p class="lead">
            The HBPA provides benevolence to horsemen in need, education and
            recreation programs to the backstretch, various insurance packages
            that include, free of charge to members, fire and disaster insurance
            and claiming coverage. Visit one of our fully staffed HBPA offices at
            the track racing live in Kentucky for details.
        </p>
    </div>
</div>

<hr class="featurete-divider" />

<div class="row aboutUsFeature">
    <div class="col-md-7">
        <h2 class="aboutUsFeatureHeading">
            Litigation and legislation. <span class="text-muted">
            Fighting for the rights of horsemen.
            </span>
        </h2>
        <p class="lead">
            The HBPA is at the forefront in litigation and legislation on issues
            involving horsemen’s rights with regards to interstate simulcasting,
            proprietary rights, casino and alternative forms of gambling, therapeutic
            medication, sports betting and many other areas of concern to horsemen.
        </p>
    </div>
    <div class="col-md-5">
        <img class="aboutUsImage" src="~/Content/AboutUsImages/KYDerbykids Chance Bailey Vanetti.jpg" />
    </div>
</div>

<hr class="featurete-divider" />

<div class="row aboutUsFeature">
    <div class="col-md-5">
        <img class="aboutUsImage" src="~/Content/AboutUsImages/KHBPA web EP College Day presentation .jpg" />
    </div>
    <div class="col-md-7">
        <h2 class="aboutUsFeatureHeading">
            Collaborative approach <span class="text-muted"> to helping support horsemen.</span> 
        </h2>
        <p class="lead">
            The HBPA works in conjunction with the Chaplaincy Program and the
            Kentucky Racing Health and Welfare Fund to provide support and
            benefits for horsemen.
        </p>
    </div>
</div>

<hr class="featurete-divider"/>

<div class="row aboutUsFeature">
    <div class="col-md-7">
        <h2 class="aboutUsFeatureHeading">
            Researching and marketing <span class="text-muted">
                for the benefit of the horse racing industry.
            </span>
        </h2>
        <p class="lead">
            The HBPA supports scientific research and marketing initiatives on
            a regional and national level to help promote interest in Thoroughbred
            racing.
        </p>
    </div>
    <div class="col-md-5">
        <img class="aboutUsImage" src="~/Content/AboutUsImages/KYDerbykids Chance Bailey Vanetti.jpg" />
    </div>
</div>

<hr class="featurete-divider" />

