@{
    ViewBag.Title = "About";
}

<h1 class="common-Uppercase text-center">About Us</h1>

<section id="primary">
    <section>
            <div class="cols container-lg">
                <p class="common-BodyText FivepxPadding">
                    The Horsemen’s Benevolent & Protective Association, established in 1940, 
                    is the world’s largest Thoroughbred horsemen’s organization, representing 
                    approximately 40,000 owners and trainers nationally in 23 states and Canada 
                    and more than 6,000 in Kentucky. The association is governed by a board of directors 
                    consisting of owners and trainers volunteering their time and elected by the Kentucky
                    membership every three years. The HBPA is committed to working for the betterment 
                    of racing on all levels. We are Horsemen helping Horsemen across the Commonwealth 
                    and you can join our cause!                
                </p>
            </div>
    </section>
        <div class="cols container-lg">
            <section id="whatYouNeed">
                    <p class="common-BodyText text-left FivepxPadding">
                        The Kentucky HBPA represents horsemen on many fronts:
                    </p>
                    <ul class="common-BodyText text-left">
                        <li>
                            We are the only organization negotiating contracts at all five 
                            Kentucky Thoroughbred tracks, working to secure the highest purse 
                            structure possible, equitable share of simulcast revenues, maximum 
                            track safety, sanitation and security.                        
                        </li>
                        <li>
                            The HBPA provides benevolence to horsemen in need, education and 
                            recreation programs to the backstretch, various insurance packages 
                            that include, free of charge to members, fire and disaster insurance
                            and claiming coverage. Visit one of our fully staffed HBPA offices at 
                            the track racing live in Kentucky for details.
                        </li>
                        <li>
                            The HBPA works in conjunction with the Chaplaincy Program and the 
                            Kentucky Racing Health and Welfare Fund to provide support and 
                            benefits for horsemen.
                        </li>
                        <li>
                            The HBPA supports scientific research and marketing initiatives on 
                            a regional and national level to help promote interest in Thoroughbred 
                            racing.
                        </li>
                        <li>
                            The HBPA is at the forefront in litigation and legislation on issues involving horsemen’s rights with regards to interstate simulcasting, proprietary rights, casino and alternative forms of gambling, therapeutic medication, sports betting and many other areas of concern to horsemen.
                        </li>
                    </ul>
            </section>
            <section id="whatYouNeed">
                <img class="aboutUsImage" src="~/Content/AboutUsImages/KHBPA About Us page The Player at Keeneland .jpg" />
                <img class="aboutUsImage" src="~/Content/AboutUsImages/KHBPA web EP College Day presentation .jpg" />
                <img class="aboutUsImage" src="~/Content/AboutUsImages/KYDerbykids Chance Bailey Vanetti.jpg" />
            </section>
        </div>
</section>