
@{
    ViewBag.Title = "Benefits";
}

<section id="primary">
    <h1 class="common-Uppercase">Member Benefits</h1>
    <div class="cols container-lg">
        <section>
            <br />
            <br />
            <p class="common-LargerBodyText">
                Below is a list of our benefits that come with our membership and one-time memnership fee.
                If you have any questions about our organization and membership, please don't hesitate to contact one of our offices listed <a href="/Home/Contact">HERE</a>.
            </p>
            <h3 class="common-UppercaseTitle text-center"><b>List of Benefits</b></h3>
        </section>
    </div>
</section>
<div class="cols container-lg">
    <section id="whatYouNeed">
        <h5 class="common-LargerBodyText">Doctor and Hospital Benefits:</h5>
        <ul class="common-BodyText">
            <li class="common-BodyText">
                Owners, trainers and stable employees to be considered for 100% of the total bill up to a maximum of $7,500.00 per calendar year. Immediate families of licensees to be considered for 50% of the total bill up to a maximum of $2,500.00 per calendar year.
            </li>
        </ul>
        <h5 class="common-LargerBodyText">Burial Benefit:</h5>
        <ul class="common-BodyText">
            <li class="common-BodyText">
                $2,000.00 per licensee.
            </li>
        </ul>
        <h5 class="common-LargerBodyText">Prescription Drugs Benefit:</h5>
        <ul class="common-BodyText">
            <li class="common-BodyText">
                $500.00 total per calendar year for licensee and family.
            </li>
        </ul>
        <h5 class="common-LargerBodyText">Dental Benefit:</h5>
        <ul class="common-BodyText">
            <li class="common-BodyText">
                $100.00 total per calendar year for licensee and family.
            </li>
        </ul>  
    </section>
    <section id="whatYouNeed">
        <h5 class="common-LargerBodyText">Eyeglass Benefit:</h5>
        <ul class="common-BodyText">
            <li class="common-BodyText">
                $100.00 total per calendar year for licensee and family. Reimbursement basis only.
            </li>
        </ul>
        <h5 class="common-LargerBodyText">Chiropractic Benefit:</h5>
        <ul class="common-BodyText">
            <li class="common-BodyText">
                $300 total per calendar year for licensee and family.
            </li>
        </ul>
        <h5 class="common-LargerBodyText">Accupunture Benefit:</h5>
        <ul class="common-BodyText">
            <li class="common-BodyText">
                $300 total per calendar year for licensee and family.
            </li>
        </ul>
        <h5 class="common-LargerBodyText">Emergency Assistance:</h5>
        <ul class="common-BodyText">
            <li class="common-BodyText">
                To be considered on an as needed basis. $500 limit per year for licensee and family.
            </li>
        </ul>
        <p class="common-BodyText">Stable employees must be licensed no less than thirty (30) days. All requests over $1,000.00, excluding burial, must have board approval.</p>
    </section>
   
</div>
<section id="whatYouNeed">
    <h3 class="common-UppercaseTitle text-center"><b>Kentucky Racing Health & Welfare Fund, Inc.</b></h3>
    <p class="common-BodyText"><b class="common-LargerBodyText">DISCLAIMER</b>:</p>
    <p class="common-BodyText">The Kentucky Racing Health and Welfare Fund is non-profit charitable organization that receives no government funding or public tax revenue. It is not an insurance company and does not assume responsibility for any incurred charge nor does it guarantee approval for any request for assistance. This handbook/website should not be construed as a policy and shall not be considered as an offer to extend assistance, benefits, coverage, or payment. This handbook/website is incomplete without this back cover/section. The Fund’s guidelines are changed at the sole discretion of the Fund and are modified, extended, altered, and revised from time to time without prior notice. Therefore, any information supplied in any form must not be construed or regarded as creating any express or implied right to the services, coverage, or benefits the Fund may offer. A copy of the Fund’s current guidelines can be obtained by a written request submitted to the Fund.</p>
    <p class="common-BodyText"><b class="common-LargerBodyText">ELIGIBILITY</b>:</p>
    <p class="common-BodyText">The following licensees who can demonstrate need: owners, trainers, assistant trainers, exercise riders, stable employees, and other racing personnel on an individual basis, and their dependents, who are racing/working in Kentucky.</p>
    <p class="common-BodyText"><b class="common-LargerBodyText">BENEFITS</b>:</p>
    <p class="common-BodyText">(staggered annual maximum benefits based on number of years consistently licensed and working in Kentucky from $7,000 for first year to $20,000 for six years and up and the availability of the applicant’s most recently required W2 or Form 1099)</p>
    <ul class="common-BodyText">
        <li>
            <u>Medical Charges</u>: Hospital, doctor, prescription, and ambulance (see above). Doctor visits may be subject to a $20 co-pay. Prescription medications may be subject to $5 to $50 co-pay.
        </li>
        <li>
            <u>Pregnancy</u>: Up to $8,000 normal vaginal delivery, complicated pregnancy considered as regular medical.
        </li>
        <li>
            <u>Mental Health</u>: Inpatient, outpatient, and prescription medication at varying benefit levels.
        </li>
        <li>
            <u>Dental</u>: Up to $1,000 (staggered annual maximum benefits based on number of years consistently licensed and working in Kentucky with limitations for teeth cleaning, root canal, crown and dentures and periodontal).
        </li>
        <li>
            <u>Orthodontia</u>: Various benefits levels up to $2,000 every twenty-four months.
        </li>
        <li>
            <u>Periodontal</u>: 50% up to $500 annually included as part of the dental benefit.
        </li>
        <li>
            <u>Vision</u>: One pair for licensee and each family member; benefit maximum $84.50 for single vision.
        </li>
        <li>
            <u>Chiropractic</u>: $500 annual benefit with $20 co-pay per visit.
        </li>
        <li>
            <u>Acupuncture</u>: $1,000 annual benefit with $20 co-pay per visit.
        </li>
        <li>
            <u>Mammogram, Pap smear and prostate screening</u>: Once annually.
        </li>
        <li>
            <u>Digital Hearing Aid</u>: $2,000 each ear every thirty-six (36) months.
        </li>
        <li>
            <u>Alcohol and Drug Related Charges</u>: Referred to Kentucky Racing Drug and Alcohol Abuse Awareness Program.
        </li>
        <li>
            <u>Funeral</u>: Up to $5,000.
        </li>
        <li>
            <u>Miscellaneous Benefits</u>: Birth control, emergency cab fare, financial assistance for non-living related medical expenses not considered elsewhere, school physical examinations, smoking cessation, and well child care.
        </li>
    </ul>
    <p class="common-BodyText"><b class="common-LargerBodyText">Maximum Annual Benefit</b>:<br /> Available benefits based at staggered maximum in accordance with the number of consecutive years licensed and working in Kentucky.</p>
    <p class="common-BodyText">A waiting period is enforced for some benefits during the first fifteen to thirty days of being licensed by the Kentucky Horse Racing Commission each year.</p>
    <p class="common-BodyText"><b class="common-LargerBodyText">Benefits restricted until 30th day at</b>:</p>
    <ul class="common-BodyText">
        <li>
            <u>Non-work related accident</u>: $1,500
        </li>
        <li>
            <u>Illness (includes dental)</u>: $500
        </li>
        <li>
            <u>Non-emergency</u>: $0
        </li>
    </ul>
</section>

