@{
    ViewBag.Title = "Board";
}
<h2>Our Board of Directors</h2>
<table style="width:66%">
    <tr>
        <td><b>President:</b></td>
        <td>Rick Hiles</td>
        <td><a href="mailto:Rickhiles1@aol.com">Rickhiles1@aol.com</a></td>
    </tr>
    <tr>
        <td><b>Vice President:</b></td>
        <td>Frank Jones, Jr.</td>
        <td><a href="mailto:jjohnson@recrenoics.com">jjohnson@recrenoics.com</a></td>
    </tr>
    <tr>
        <td><b>Vice President:</b></td>
        <td>Dale Romans</td>
        <td><a href="mailto:dalerracing@aol.com">dalerracing@aol.com</a></td>
    </tr>
    <tr>
        <td><b>Executive Director:</b></td>
        <td>Martin Maline</td>
        <td><a href="mailto:kymarty@aol.com">kymarty@aol.com</a></td>
    </tr>
    <tr>
        <td><b>Treasurer:</b></td>
        <td>John Griffith</td>
        <td><a href="mailto:Margaritaville52@yahoo.com">Margaritaville52@yahoo.com</a></td>
    </tr>
    <tr>
        <td><b>Execuive Assistant:</b></td>
        <td>Sara Toomey</td>
        <td><a href="mailto:KentuckyHBPA@gmail.com">KentuckyHBPA@gmail.com</a></td>
    </tr>
    <tr>
        <td><b>Owner Director:</b></td>
        <td>Mark C. Bacon</td>
        <td><a href="mailto:Mark_Bacon@B-F.com">Mark_Bacon@B-F.com</a></td>
    </tr>
    <tr>
        <td><b>Owner Director:</b></td>
        <td>F. Thomas Conway</td>
        <td><a href="mailto:FTConway@yahoo.com">FTConway@yahoo.com</a></td>
    </tr>
    <tr>
        <td><b>Owner Director:</b></td>
        <td>Travis Foley, Jr.</td>
        <td><a href="mailto:G.Foley@gregfoleyracing.com">G.Foley@gregfoleyracing.com</a></td>
    </tr>
    <tr>
        <td><b>Trainer Director:</b></td>
        <td>William (Buff) Bradley</td>
        <td><a href="mailto:buffracing@aol.com">buffracing@aol.com</a></td>
    </tr>
    <tr>
        <td><b>Trainer Director:</b></td>
        <td>William R. Connelly</td>
        <td><a href="mailto:BillConnelly1956@gmail.com">BillConnelly1956@gmail.com</a></td>
    </tr>
    <tr>
        <td><b>Trainer Director:</b></td>
        <td>John Hancock</td>
        <td><a href="mailto:JADstables@hotmail.com">JADstables@hotmail.com</a></td>
    </tr>
    <tr>
        <td><b>Trainer Director:</b></td>
        <td>Ken McPeek</td>
        <td><a href="mailto:kenny@mcpeekracing.com">kenny@mcpeekracing.com</a></td>
    </tr>
    <tr>
        <td><b>Alternate Trainer Director:</b></td>
        <td>R.C. Sturgeon</td>
        <td><a href="mailto:bobbysturgeon@gmail.com">bobbysturgeon@gmail.com</a></td>
    </tr>
</table>