@{
    ViewBag.Title = "Contact";
}

<section id="primary">
    <h1 class="common-Uppercase">Contact Us <br> </h1>
    <div class="cols container-lg">
        <section id="Contact">
            <br />
            <i class="fa fa-phone fa-3x" aria-hidden="true" style="color:#072419;"></i>
            <br />
            <br />
            <p class="common-LargerBodyText">
                Kentucky HBPA welcomes inquiries from our members and the general public on matters of concern to the Thoroughbred industry.
                This office is open year round, Monday through Friday from 8:30AM to 4:00PM. Our contact information is listed below.
            </p>
            <br />
            <div class="cols container-lg">
                <section id="whatYouNeed">
                    <div class="col-md-6">
                        <p class="common-UppercaseTitle">Main Office:</p>
                        <p class="common-BodyText">
                            <i class="fa fa-map-marker fa-2x" style="color: #072419;"></i>
                            <address>
                                Kentucky HBPA<br />
                                3729 S. Fourth Street<br />
                                Louisville, KY 40214-1712<br />
                            </address>
                            <br />
                            <h5 class="common-UppercaseTitle">Other contact information:</h5>
                            <address>
                                <i class="fa fa-envelope" style="color:#072419"></i>: <a href="mailto:Kentuckyhbpa@gmail.com">KentuckyHBPA@gmail.com</a><br />
                                <i class="fa fa-mobile" style="color:#072419"></i>: +1(502)363-1077<br />
                                <i class="fa fa-phone" style="color:#072419"></i>: +1(800)928-4272 <b class="small">{Toll Free}</b><br />
                                <i class="fa fa-fax" style="color:#072419"></i>: +1(502)367-6800
                            </address>
                        </p>
                    </div>
                    <div class="col-md-6">
                        <p class="common-UppercaseTitle">Social Media:</p>
                        <a href="https://www.facebook.com/kyhbpa" target="_blank">
                            <i class="fab fa-facebook-square fa-5x" aria-hidden="true" style="color: #3B5998 !important;"></i>
                        </a><br /><br />
                        <a href="https://www.twitter.com/kyhbpa" target="_blank">
                            <i class="fab fa-twitter-square fa-5x" aria-hidden="true" style="color: #1DA1F2 !important;"></i>
                        </a><br /><br />
                        @*<a href="https://www.youtube.com/" target="_blank">
        <i class="fa fa-youtube-square fa-4x" style="color: #ff0000 !important;"></i>
    </a><br /><br />*@
                        <a href="https://www.instagram.com/" target="_blank">
                            <i class="fab fa-instagram fa-5x" aria-hidden="true" style="color: #fb3958 !important;"></i>
                        </a>
                    </div>
                </section>
                <section id="whatYouNeed">
                    <h3 class="common-UppercaseTitle">Map of KY HBPA Main Office:</h3>
                    <div id="map"></div>
                    <iframe width="450"
                            height="300"
                            frameborder="0" style="border:0"
                            src="https://www.google.com/maps/embed/v1/place?key=AIzaSyAuTqlg9GmiCxi7y_Kg98_LUVfbn--m7uU
                            &q=Kentucky+HBPA,Louisville+KY" allowfullscreen>
                    </iframe>
                </section>
            </div>
            <div class="cols container-lg">
                <section id="whatYouNeed">
                    <h3 class="common-UppercaseTitle">Other Kentucky Offices:</h3>
                    <p class="common-BodyText">
                        <h5 class="common-LargerBodyText">Churchill Downs Backside Office</h5>
                        <address>
                            Phone: (502)637-7935<br />
                            Fax: (502)637-7935<br />
                            Open March-December, Wednesday-Sunday from 8:30am to 5:30pm.<br />
                        </address>
                        <h5 class="common-LargerBodyText">Trackside – Louisville</h5>
                        <address>
                            Phone: (502)964-5361<br />
                            Fax: (502)964-7967<br />
                            Open March-December, Tuesday-Sunday from 9:30am to 1:30pm.<br />
                        </address>
                        <h5 class="common-LargerBodyText">The Thoroughbred Center – Lexington</h5>
                        <address>
                            Phone: (859)293-5672<br />
                            Fax: (859)293-5672<br />
                            Open year round, Monday-Friday from 9:00am to 1:00pm.
                        </address>
                    </p>
                </section>
                <section id="whatYouNeed">
                    <h3 class="common-UppercaseTitle">VISIT OUR OFFICES OPEN DURING EACH TRACK’S LIVE MEET</h3>
                    <h5 class="common-LargerBodyText">Ellis Park – Henderson</h5>
                    <address>
                        Phone: (812)435-8956<br />
                        Fax: (812)425-1659<br />
                    </address>
                    <h5 class="common-LargerBodyText">Keeneland – Lexington</h5>
                    <address>
                        Phone: (800)456-3412, EXT. 390<br />
                        Fax: (859)255-0467<br />
                    </address>
                    <h5 class="common-LargerBodyText">Turfway Park – Florence</h5>
                    <address>
                        Phone: (800)733-0200<br />
                        Fax: (859)371-4086<br />
                    </address>
                </section>
            </div>
</section>
    </div>
</section>


