<section id="primary">
    <h1 class="common-Uppercase">Gambling Education: <br>What you need to know before <br> you head to the track</h1>
    <div class="cols container-lg">
        <section id="Wagering">
            <br />
            <br />
            <p class="common-LargerBodyText">
                For a beginner, betting on races can seem a bit complicated. Here we have simplified things
                for you by giving you a quick lesson on the basics of wagering. Take a look at the videos, brought to you by Churchil Downs, and other information
                below so you can sound like a pro when you step up to the betting window at the track!
                <br />
                <br />
                <i class="fa fa-dollar-sign fa-5x" style="color:#24b47e; padding-bottom:4px;"></i>
                <br />

</section>
    </div>
    <div class="cols container-lg">
        <section id="whatYouNeed">
            <h3 class="common-UppercaseTitle">What you need before you bet</h3>
            <p class="common-BodyText">
                - Cash to pay for the bet<br />
                - The race number<br />
                - The type of bet<br />
                - The number of the horse(s)<br />
        </section>
        <section id="whatYouNeed">
            <h3 class="common-UppercaseTitle">Types of bets</h3>
            <p class="common-BodyText">
                There are a many different ways you can bet. 
                You can bet on just one horse alone, or multiple horses.
                The simplest type of bets are win, place, and show.
                The other types, generally for the more experienced bettor, are exacta and trifecta boxes.
                These are much more difficult, but yield a higher reward. Watch the videos below to get a better understanding on the types of bets!
</section>
    </div>
    <br />
   
        <iframe width="700" height="450" src="https://www.youtube.com/embed/_hXYKhTHnQI" frameborder="0" allowfullscreen></iframe>
    
    <br />
    <br />
    <br />
    <br />
   
        <iframe width="700" height="450" src="https://www.youtube.com/embed/lKpAnR2ZqfU" frameborder="0" allowfullscreen></iframe>
   
    <br />
    <br />
    <br />
    <br />
  
        <iframe width="700" height="450" src="https://www.youtube.com/embed/6DK31EvACis" frameborder="0" allowfullscreen></iframe>
    <br />

</section>

