@model KYHBPA_TeamA.Models.PhotoGalleryViewModel

@{
    ViewBag.Title = "Home Page";
}


<div class="jumbotron">
    <h1>Horsemen Helping Horsemen</h1>
    <p class="lead">Welcome to the Kentucky Horsemen's Benevolent and Protective Association, where the horsemen of Kentucky come together to work on the betterment of racing on all levels. Collectively sharing the mission statement- We are committed to the future of horse racing; – We are horsemen who have one horse and a dream; – We are horsemen who spend millions of dollars; – We are horsemen who race throughout the country; – We are horsemen who represent different breeds of race horses; – We are owners, breeders, and trainers. Big and small, young and old; from one end of the country to the other — we horsemen are the HBPA. We are Horsemen Helping Horsemen. We urge all horsemen to join the KYHBPA in order to make a real difference in the unparalleled world of horse racing in Kentucky.</p>
    <p><a href="http://localhost:51528/Home/About" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<!--Image Gallery-->
@Html.Action("_ImageGallery", "Photo")


<!--Triple Threat Column Layout -->
<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <h2>Hello</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.           
        </p>
        <p><a class="btn btn-default" href="http://localhost:51528/Home/About">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="http://localhost:51528/Home/About">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://localhost:51528/Home/About">Learn more &raquo;</a></p>
    </div>
</div>
