@model KYHBPA_TeamA.Models.PhotoGalleryViewModel

@{
    ViewBag.Title = "Home";
}

@section ImageGallery{
    <!--Image Gallery-->
    @Html.Action("_ImageGallery", "Photo")
}


<section id="socialMediaSpan">
    <ul id="socialMediaList">
        <li>
            <div class="socialMediaListIcon" onclick="window.open('http://www.instagram.com')">
                <svg class="socialMediaIcon">
                    <use xlink:href="~/Content/brands.svg#instagram"></use>
                </svg>
            </div>
        </li>
        <li>
            <div class="socialMediaListIcon" onclick="window.open('https://www.facebook.com/KYhbpa/')">
                <svg class="socialMediaIcon">
                    <use xlink:href="~/Content/brands.svg#facebook-square"></use>
                </svg>
            </div>
        </li>
        <li>
            <div class="socialMediaListIcon" onclick="window.open('http://www.youtube.com')">
                <svg class="socialMediaIcon">
                    <use href="~/Content/brands.svg#youtube"></use>
                </svg>
            </div>
        </li>
        <li>
            <div class="socialMediaListIcon" onclick="window.open('https://twitter.com/kyhbpa?lang=en')">
                <svg class="socialMediaIcon">
                    <use xlink:href="~/Content/brands.svg#twitter-square"></use>
                </svg>
            </div>
        </li>
    </ul>
</section>


<section id="primary">
    <h1 class="common-Uppercase">Kentucky Horsemen's Benevolent <br />and Protective Association</h1>
    <div class="cols container-lg">
        <section id="becomeAMember">
            <h3 class="common-UppercaseTitle">Become a Member Today!</h3>
            <p class="common-BodyText">
                You are invited to drop into the HBPA office to meet the staff and
                learn more about current projects and how you can get
                involved in helping to improve the industry. There are no membership fees.
                Remember – This is your organization. Become an active participant and one of the “Horsemen Helping Horseman”.
            </p>
            <i class="fa fa-handshake fa-6x" style="color:#072419"></i>
            <br />
            <a href="/Account/Register" class="common-Button">Create account</a>
        </section>
        <section id="learnMore">
            <h3 class="common-UppercaseTitle">Learn more about us!</h3>
            <p class="common-BodyText">
                We urge all horsemen to join the HBPA, and urge you to take an
                active role in the direction and policies of your organization.
                By doing so, you are affirming your confidence in the goals and future
                endeavors of the HBPA. Lets bring our community closer together
                and welcome new members.
            </p>
            <i class="fa fa-users fa-6x" style="color:#072419"></i>
            <br />
            <a href="/Home/Benefits" class="common-Button">Learn more</a>
        </section>
    </div>
</section>

<section id="benefitsBar">
    <a class="common-Button" href="/Home/Benefits">Benefits</a>
    <div class="container-lg">
        <h3 class="common-UppercaseTitle">Learn about our membership.</h3>
        <p class="common-BodyText"> Our shield, your protection.</p>
        <i class="fa fa-shield-check fa-5x" style="color:#072419; padding-bottom:4px;"></i>
    </div>
</section>

<div id="socialEmbeds" class="cols container-lg">
    <section id="twitterEmbed">
        <h2 class="text-center common-UppercaseTitle">
            <svg class="twitterIcon">
                <use xlink:href="~/Content/brands.svg#twitter-square"></use>
            </svg>
        </h2>
        <a class="twitter-timeline" data-width="340" data-height="500" href="https://twitter.com/KyHBPA?ref_src=twsrc%5Etfw"></a>
        <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
    </section>

    <section id="instagramEmbed">
        <h2 class="text-center common-UppercaseTitle">
            @*<use xlink:href="~/Content/brands.svg#instagram"></use>*@
            <img src="https://www.seeklogo.net/wp-content/uploads/2016/06/Instagram-logo-400x400.png" alt="instagram logo original" class="instagramIcon" />
            @*<style type="text/css">
                    rect {
                        fill: url(#MyGradient)
                    }
                </style>
                <defs>
                    <linearGradient id="MyGradient">
                        <stop offset="5%" stop-color="#F60" />
                        <stop offset="95%" stop-color="#FF6" />
                    </linearGradient>
                </defs>*@
        </h2>
        <script src="//lightwidget.com/widgets/lightwidget.js"></script><iframe src="//lightwidget.com/widgets/742a05f5e19d5427b44d0313e41d0d52.html" scrolling="no" allowtransparency="true" class="lightwidget-widget" style="width: 100%; border: 0; overflow: hidden;"></iframe>
    </section>

    <section id="facebookEmbed">
        <h2 class="text-center common-UppercaseTitle">
            <svg class="facebookIcon">
                <use xlink:href="~/Content/brands.svg#facebook-square"></use>
            </svg>
        </h2>
        <div class="fb-page" data-href="https://www.facebook.com/KYhbpa/" data-tabs="timeline" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="false"><blockquote cite="https://www.facebook.com/KYhbpa/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/KYhbpa/">Kentucky HBPA</a></blockquote></div>
    </section>

</div>


<section id="primary">
    <div class="cols container-lg">
        <section id="raceTracks">
            <h2 class="text-center common-UppercaseTitle">Check the Track before you race!</h2>
            <p class="common-BodyText">
                In a hurry to get to the big race? Look no further! You can click on the links below to check track conditions and keep up with track news.
            </p>
            <ul list-style="none">
                <li>
                    <a href="https://www.churchilldowns.com/" class="common-Button common-ButtonVariant" target="_blank">Churchill Downs &raquo;</a>
                </li>
                <li>
                    <a href="http://www.ellisparkracing.com/" class="common-Button common-ButtonVariant" target="_blank">Ellis Park &raquo;</a>
                </li>
                <li>
                    <a href="http://www.turfway.com/home" class="common-Button common-ButtonVariant" target="_blank">Turfway Park &raquo;</a>
                </li>
                <li>
                    <a href="https://www.arlingtonpark.com/trackside" class="common-Button common-ButtonVariant" target="_blank">Trackside &raquo;</a>
                </li>
            </ul>
        </section>
        <section id="upcomingEvents">
            <h2 class="common-UppercaseTitle">Stay Current</h2>
            @foreach (var items in Model.Events)
            {
                <br />
                <div class="DescrSquare"><p class="col-lg-12" id="EventDescription">@items.EventDescription</p></div>
                <div class="TimeSquare">
                    <p class="col-md-6" id="EventStart"><b>Start Time:</b>@items.EventDate</p>
                    <p class="col-md-6" id="EventEnd"><b>End Time:</b>@items.EventTime</p>
                </div>
                <br />

            }
        </section>
    </div>
</section>

<section id="spacerBar">
    <h2 class="text-center common-UppercaseTitle">Looking for more organizations like us?</h2>
    <div class="container-lg">
        <img src="~/Content/partnershipBar.png" width="1000" />
    </div>
</section>

