@model KYHBPA_TeamA.Models.PhotoGalleryViewModel

@{
    ViewBag.Title = "Home Page";
}

@section ImageGallery{
        <!--Image Gallery-->
@Html.Action("_ImageGallery", "Photo")
}


<section id="socialMediaSpan">
    <ul id="socialMediaList">
        <li>
            <div class="socialMediaListIcon" onclick="window.open('http://www.instagram.com')">
                <svg class="socialMediaIcon">
                    <use xlink:href="~/Content/brands.svg#instagram"></use>
                </svg>
            </div>
        </li>
        <li>
            <div class="socialMediaListIcon" onclick="window.open('http://www.facebook.com')">
                <svg class="socialMediaIcon">
                    <use xlink:href="~/Content/brands.svg#facebook-square"></use>
                </svg>
            </div>
        </li>
        <li>
            <div class="socialMediaListIcon" onclick="window.open('http://www.youtube.com')">
                <svg class="socialMediaIcon">
                    <use href="~/Content/brands.svg#youtube"></use>
                </svg>
            </div>
        </li>
        <li>
            <div class="socialMediaListIcon" onclick="window.open('http://www.twitter.com')">
                <svg class="socialMediaIcon">
                    <use xlink:href="~/Content/brands.svg#twitter-square"></use>
                </svg>
            </div>
        </li>
    </ul>
</section>


<section id="primary">
    <h1 class="common-Uppercase">Kentucky Horsemen's <br> Benevolent and Protective <br> Association</h1>
    <div class="cols container-lg">
        <section id="becomeAMember">
            <h3 class="common-UppercaseTitle">Become a Member Today!</h3>
            <p class="common-BodyText">
                You are invited to drop into the HBPA office to meet the staff and
                learn more about current projects and how you can get
                involved in helping to improve the industry. There are no membership fees.
                Remember – This is your organization. Become an active participant and one of the “Horsemen Helping Horseman”.
            </p>
            <i class="fa fa-handshake fa-6x" style="color:#3ecf8e"></i>
            <br />
            <a href="/Account/Register" class="common-Button">Create account</a>
        </section>
        <section id="learnMore">
            <h3 class="common-UppercaseTitle">Learn more about us</h3>
            <p class="common-BodyText">
                We urge all horsemen to join the HBPA, and urge you to take an 
                active role in the direction and policies of your organization. 
                By doing so, you are affirming your confidence in the goals and future 
                endeavors of the HBPA. Lets bring our community closer together
                and welcome new members.   
            </p>
            <i class="fa fa-users fa-6x" style="color:#3ecf8e"></i>
            <br />
            <a href="/Home/Benefits" class="common-Button">Learn more</a>
        </section>
    </div>
</section>
<section id="benefitsBar">
    <a class="common-Button" href="/Home/Benefits">Benefits</a>
    <div class="container-lg">
        <h3 class="common-UppercaseTitle">Learn about our benefits.</h3>
        <p class="common-BodyText"> Our shield, your protection.</p>
        <i class="fa fa-shield-check fa-5x" style="color:#24b47e; padding-bottom:4px;"></i>
    </div>
</section>

<div id="socialEmbeds" class="row">
    <div id="twitterEmbed" class="col-md-6">
        <h2 class="text-center common-UppercaseTitle">Recent Tweets</h2>
        <p class="text-center">
            <a class="twitter-timeline" href="https://twitter.com/KyHBPA?ref_src=twsrc%5Etfw" data-height="600" data-width="500">Tweets by KyHBPA</a>
            <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
        </p>
    </div>
    <div id="facebookEmbed" class="col-md-6">
        <h2 class="text-center common-UppercaseTitle">Facebook Feed</h2>
        <p class="text-center"><iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2FKYhbpa%2F&tabs=timeline&width=500&height=600&small_header=true&adapt_container_width=true&hide_cover=false&show_facepile=true&appId" width="500" height="600" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe></p>
    </div>
</div>
<div class="row">
    <div id="News" class="col-md-8">
        <hr />
        <h2 class="text-center">News</h2>
        <hr />
    </div>
    <div id="Join" class="col-md-4">
        <hr />
        <h2 class="text-center">Become a Member Today!</h2>
        <hr />
        <p class="text-center">
            You are invited to drop into the HBPA office to meet the staff and learn more about current projects and how you can get involved in helping to improve the
            industry. There are no membership fees. Remember – This is your organization. Become an active participant and one of the “Horsemen Helping Horseman”.
        </p>
        <p class="text-center"><a href="/Home/About" class="btn btn-primary btn-lg">Join Here! &raquo;</a></p>
    </div>
</div>
<div class="row">
    <div id="News" class="col-md-4">
        <hr />
        <h2 class="text-center">Kentucky Track Conditions</h2>
        <hr />
        <p class="text-center">
            <a href="https://www.churchilldowns.com/" class="btn btn-primary btn-sm" target="_blank">Churchill Downs &raquo;</a>
            <a href="http://www.turfway.com/home" class="btn btn-primary btn-sm" target="_blank">Turfway Park &raquo;</a>
        </p>
        <p class="text-center">
            <a href="http://www.ellisparkracing.com/" class="btn btn-primary btn-sm" target="_blank">Ellis Park &raquo;</a>
            <a href="http://www.tracksideotb.com/trackside_kentucky/louisville/" class="btn btn-primary btn-sm" target="_blank">Trackside &raquo;</a>
        </p>
    </div>
    <div id="Join" class="col-md-8">
        <hr />
        <h2 class="text-center">Events</h2>
        <hr />

    </div>
</div>
<div class="col-md-12">
    <div id="OrgCarousel">
        <hr />
        <h3>Partner Organizations</h3>
        <hr />
    </div>
</div>