@model KYHBPA_TeamA.Models.PhotoGalleryViewModel

@{
    ViewBag.Title = "Home Page";
}


<div class="jumbotron">
    <h1>Horsemen Helping Horsemen</h1>
    <p class="lead">Welcome to the Kentucky Horsemen's Benevolent and Protective Association, where the horsemen of Kentucky come together to work on the betterment of racing on all levels. Collectively sharing the mission statement – We are committed to the future of horse racing; – We are horsemen who have one horse and a dream; – We are horsemen who spend millions of dollars; – We are horsemen who race throughout the country; – We are horsemen who represent different breeds of race horses; – We are owners, breeders, and trainers. Big and small, young and old; from one end of the country to the other — we horsemen are the HBPA. We are Horsemen Helping Horsemen. We urge all horsemen to join the KYHBPA in order to make a real difference in the unparalleled world of horse racing in Kentucky.</p>
    <p><a href="http://localhost:51528/Home/About" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<!--Image Gallery-->
@Html.Action("_ImageGallery", "Photo")


<!--Triple Threat Column Layout -->
<div class="row">
    <div class="col-md-4">
        <h2 style="text-align:center">How to Join!</h2>
        <p>
            You are invited to drop into the KY HBPA office to meet the staff and learn more about current projects and how you can get involved in helping to improve the industry. There are no membership fees. Remember – This is your organization. Become an active participant and one of the “Horsemen Helping Horsemen”.           
        </p>
        <p><a class="btn btn-default" href="http://localhost:51528/Home/About">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Twitter Feed</h2>
        <img src="C:\Users\tbrow\Documents\UofL Classes\Fall_2018\CIS420\Documents\TwitterFeed_HBPA.png" />
    </div>
    <div class="col-md-4">
        <h2>Partner Organizations</h2>
        <ul>
            <li>Claiming Crown</li>
            <li>Horse Racing Radio Network</li>
            <li>EquiRide</li>
            <li>Blood Horse Daily</li>
            <li>Throughbred Charities of America</li>
        </ul>
        <p><a class="btn btn-default" href="http://localhost:51528/Home/About">Learn more &raquo;</a></p>
    </div>
</div>
