@model KYHBPA_TeamA.Models.PhotoGalleryViewModel

@{
    ViewBag.Title = "Home Page";
}


<div class="jumbotron">
    <h1><b>Horsemen Helping Horsemen</b></h1>
    <p>Welcome to the Kentucky Horsemen's Benevolent and Protective Association, where the horsemen of Kentucky come together to work on the betterment of racing on all levels.</p>
    <p>Collectively sharing the mission statement:</p>
    <ul class="body-content">
        <li>We are committed to the future of horse racing.</li>
        <li>We are horsemen who have one horse and a dream.</li>
        <li>We are horsemen who spend millions of dollars.</li>
        <li>We are horsemen who race throughout the country.</li>
        <li>We are horsemen who represent different breeds of race horses.</li>
        <li>We are owners, breeders, and trainers. Big and small, young and old; from one end of the country to the other, we horsemen are the HBPA.</li>
    </ul>
    <p>We are Horsemen Helping Horsemen. We urge all horsemen to join the KYHBPA in order to make a real difference in the unparalleled world of horse racing in Kentucky.</p>
    <p><a href="/Home/About" class="btn btn-primary btn-lg">Learn more about our History &raquo;</a></p>
</div>

<!--Image Gallery-->
@Html.Action("_ImageGallery", "Photo")


<!--Triple Threat Column Layout -->
<div class="row">
    <div class="col-md-4">
        <h2>Twitter</h2>
        <p>
            <a class="twitter-timeline" href="https://twitter.com/TwitterDev?ref_src=twsrc%5Etfw" data-height="600">Tweets by TwitterDev</a>
            <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
        </p>
    </div>
    <div id="Join" class="col-md-4">
        <h2>How to Join</h2>
        <p>You are invited to drop into the HBPA office to meet the staff and learn more about current projects and how you can get involved in helping to improve the industry. There are no membership fees. Remember – This is your organization. Become an active participant and one of the “Horsemen Helping Horseman”.</p>
        <p><a href="/Home/About" class="btn btn-primary btn-lg">Join Here! &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>FaceBook</h2>
        <p><iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2FKYhbpa%2F&tabs=timeline&width=340&height=600&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId" width="340" height="600" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe></p>
    </div>
</div>
