@model KYHBPA_TeamA.Models.PhotoGalleryViewModel

@{
    ViewBag.Title = "Home Page";
}

@section ImageGallery{
        <!--Image Gallery-->
@Html.Action("_ImageGallery", "Photo")
}


<section id="socialMediaSpan">
    <div class="text-center">
        <svg class="socialMediaIcon">
            <use xlink:href="~/Content/brands.svg#instagram"></use>
        </svg>
        <svg class="socialMediaIcon">
            <use xlink:href="~/Content/brands.svg#facebook-square"></use>
        </svg>
        <svg class="socialMediaIcon">
            <use xlink:href="~/Content/brands.svg#youtube"></use>
        </svg>
        <svg class="socialMediaIcon">
            <use xlink:href="~/Content/brands.svg#twitter"></use>
        </svg>
    </div>
</section>


<section id="primary">
    <h1 class="common-Uppercase">Kentucky Horsemen's <br> Benevolent and Protective <br> Association</h1>
    <h3 class="common-UppercaseTitle">Become a Member Today!</h3>
    <p class="common-BodyText">You are invited to drop into the HBPA office to meet the staff and 
    learn more about current projects and how you can get 
    involved in helping to improve the industry. There are no membership fees.
    Remember – This is your organization. Become an active participant and one of the “Horsemen Helping Horseman”.</p>
</section>


<div class="jumbotron" id="homeIndexJumbo">
    <h1><b>Horsemen Helping Horsemen</b></h1>
    <p>Welcome to the Kentucky Horsemen's Benevolent and Protective Association, where the horsemen of Kentucky come together to work on the betterment of racing on all levels.</p>
    <p><a href="/Home/About" class="btn btn-primary btn-lg">Learn more about our History &raquo;</a></p>
</div>

<hr />
<!--Triple Threat Column Layout -->
<div class="row">
    <div id="Twitter" class="col-md-6">
        <hr />
        <h2 class="text-center">Twitter</h2>
        <hr />
        <p class="text-center">
            <a class="twitter-timeline" href="https://twitter.com/KyHBPA?ref_src=twsrc%5Etfw" data-height="600" data-width="500">Tweets by KyHBPA</a>
            <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
        </p>
    </div>
    <div id="Facebook" class="col-md-6">
        <hr />
        <h2 class="text-center">Facebook</h2>
        <hr />
        <p class="text-center"><iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2FKYhbpa%2F&tabs=timeline&width=340&height=600&small_header=true&adapt_container_width=true&hide_cover=false&show_facepile=true&appId" width="500" height="600" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe></p>
    </div>
</div>
<div class="row">
    <div id="News" class="col-md-8">
        <hr />
        <h2 class="text-center">News</h2>
        <hr />
    </div>
    <div id="Join" class="col-md-4">
        <hr />
        <h2 class="text-center">Become a Member Today!</h2>
        <hr />
        <p class="text-center">
            You are invited to drop into the HBPA office to meet the staff and learn more about current projects and how you can get involved in helping to improve the
            industry. There are no membership fees. Remember – This is your organization. Become an active participant and one of the “Horsemen Helping Horseman”.
        </p>
        <p class="text-center"><a href="/Home/About" class="btn btn-primary btn-lg">Join Here! &raquo;</a></p>
    </div>
</div>
<div class="row">
    <div id="News" class="col-md-4">
        <hr />
        <h2 class="text-center">Kentucky Track Conditions</h2>
        <hr />
        <p class="text-center">
            <a href="https://www.churchilldowns.com/" class="btn btn-primary btn-sm" target="_blank">Churchill Downs &raquo;</a>
            <a href="http://www.turfway.com/home" class="btn btn-primary btn-sm" target="_blank">Turfway Park &raquo;</a>
        </p>
        <p class="text-center">
            <a href="http://www.ellisparkracing.com/" class="btn btn-primary btn-sm" target="_blank">Ellis Park &raquo;</a>
            <a href="http://www.tracksideotb.com/trackside_kentucky/louisville/" class="btn btn-primary btn-sm" target="_blank">Trackside &raquo;</a>
        </p>
    </div>
    <div id="Join" class="col-md-8">
        <hr />
        <h2 class="text-center">Events</h2>
        <hr />

    </div>
</div>
<div class="col-md-12">
    <div id="OrgCarousel">
        <hr />
        <h3>Partner Organizations</h3>
        <hr />
    </div>
</div>