@model KYHBPA_TeamA.Models.PhotoGalleryViewModel

@{
    ViewBag.Title = "Home Page";
}


<div class="jumbotron">
    <h1>Horsemen Helping Horsemen</h1>
    <p class="lead">Welcome to the Kentucky Horsemen's Benevolent and Protective Association, where the horsemen of Kentucky come together to work on the betterment of racing on all levels.
        </p>
    <p><a href="http://localhost:51528/Home/About" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<!--Image Gallery-->
@Html.Action("_ImageGallery", "Photo")

<hr />
<!--Triple Threat Column Layout -->
<div class="row">
    <div class="col-md-4">
        <h2 style="text-align:center">How to Join!</h2>
        <p>
            You are invited to drop into the KY HBPA office to meet the staff and learn more about current projects and how you can get involved in helping to improve the industry. There are no membership fees. Remember – This is your organization. Become an active participant and one of the “Horsemen Helping Horsemen”.           
        </p>
        <p><a class="btn btn-default" href="http://localhost:51528/Home/About">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Twitter Feed</h2>
        <img class="img-responsive" src="~/Content/TwitterFeed_HBPA.png" />
    </div>
    <div class="col-md-4">
        <h2>Partner Organizations</h2>
        <ul>
            <li>Claiming Crown</li>
            <li>Horse Racing Radio Network</li>
            <li>EquiRide</li>
            <li>Blood Horse Daily</li>
            <li>Throughbred Charities of America</li>
        </ul>
        <p><a class="btn btn-default" href="http://localhost:51528/Home/About">Learn more &raquo;</a></p>
    </div>
</div>