@{
    ViewBag.Title = "Membership";
}



   <center>
    <h1 class="common-Uppercase">KYHBPA Membership</h1>
    <div class="cols container-lg">
        <section id="becomeAMember">
            <h3 class="common-UppercaseTitle">Become a Member Today!</h3>
            <p class="common-BodyText">
                You are invited to drop into the HBPA office to meet the staff and
                learn more about current projects and how you can get
                involved in helping to improve the industry. There are no membership fees.
                Remember – This is your organization. Become an active participant and one of the “Horsemen Helping Horseman”.
            </p>
            <i class="fa fa-handshake fa-6x" style="color:#01436e"></i>
            <br />
            <a href="/Home/Benefits" class="common-Button">Our Benefits</a>
            <br />
            <a href="/Memberships/Create" class="common-Button">Join the KYHBPA</a>
        </center>
        </section>
        </div>