@{
    ViewBag.Title = "Membership";
}

<div class="post-content">
    <div class="fusion-fullwidth fullwidth-box hundred-percent-fullwidth" style='background-color: rgba(255,255,255,0);background-position: center center;background-repeat: no-repeat;padding-top:0px;padding-right:0px;padding-bottom:0px;padding-left:0px;'>
        <div class="fusion-builder-row fusion-row ">
            <div class="fusion-layout-column fusion_builder_column fusion_builder_column_1_1  fusion-one-full fusion-column-first fusion-column-last fusion-column-no-min-height 1_1" style='margin-top:0px;margin-bottom:0px;'>
                <div class="fusion-column-wrapper" style="background-position:left top;background-repeat:no-repeat;-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;background-size:cover;" data-bg-url="">
                    <div class="fusion-title title fusion-title-size-one" style="margin-top:0px;margin-bottom:31px;"><h1 class="title-heading-left">HOW CAN I JOIN KENTUCKY HBPA?</h1><div class="title-sep-container"><div class="title-sep sep-double" style="border-color:#e0dede;"></div></div></div><div class="fusion-clearfix"></div>

                </div>
            </div><div class="fusion-layout-column fusion_builder_column fusion_builder_column_1_1  fusion-one-full fusion-column-first fusion-column-last 1_1" style='margin-top:0px;margin-bottom:20px;'>
                <div class="fusion-column-wrapper" style="background-position:left top;background-repeat:no-repeat;-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;background-size:cover;" data-bg-url="">
                    <p style="text-align: center;">You are invited to drop into the HBPA office to meet the staff and learn more about current projects and how you can get involved in helping to improve the industry. There are no membership fees. Remember &#8211; This is your organization. Become an active participant and one of the <em>&#8220;HORSEMEN HELPING HORSEMEN&#8221;.</em></p>
                    <p style="text-align: center;">Please take a moment to <strong><a href="http://nationalhbpa.com/wp-content/uploads/Kentucky-HBPA-Membership-Card.pdf" target="_blank" rel="attachment wp-att-3937">print, sign, &amp; fax or mail our membership card</a></strong> appointing the HBPA as your Horsemen&#8217;s organization.</p>
                    <div class="fusion-clearfix"></div>

                </div>
            </div>
        </div>
    </div>
</div>
<p>
    <button class="btn btn-primary col-md-2 pull-left" onclick="location.href='/Memberships/Create'">Join the KBHBPA</button>
</p>