
@{
    ViewBag.Title = "Polls";
}

<h2>Polls</h2>

<p class="common-BodyText">
    You are invited to drop into the HBPA office to meet the staff and
    learn more about current projects and how you can get
    involved in helping to improve the industry. There are no membership fees.
    Remember – This is your organization. Become an active participant and one of the “Horsemen Helping Horseman”.
</p>

<script>(function(t,e,s,n){var o,a,c;t.SMCX=t.SMCX||[],e.getElementById(n)||(o=e.getElementsByTagName(s),a=o[o.length-1],c=e.createElement(s),c.type="text/javascript",c.async=!0,c.id=n,c.src=["https:"===location.protocol?"https://":"http://","widget.surveymonkey.com/collect/website/js/tRaiETqnLgj758hTBazgdzaF_2Fbaew6JAftgpopKll8aUIkbTXZIKK7IcE_2BEDk0S6.js"].join(""),a.parentNode.insertBefore(c,a))})(window,document,"script","smcx-sdk");</script><a style="font: 12px Helvetica, sans-serif; color: #999; text-decoration: none;" href=https://www.surveymonkey.com> Create your own user feedback survey </a>

