
<section id="primary">
    <h1 class="common-Uppercase">Member Feedback: <br> Let your voice be heard!</h1>
    <div class="cols container-lg">
        <section id="Polls"> 
            <br />
            <i class="fa fa-question-circle fa-5x" style="color:#24b47e; padding-bottom:4px;"></i>
            <br />              
            <br />
                <p class="common-LargerBodyText">
                    Below are a few surveys created by us so you,
                    a member of KYHBPA, can give your thoughts and opinions on important topics and  legislation circulating
                    in our industry. We care about about our members and we want your voices heard!
                    <br />              
            </section>
</div>
</section>
<br />
<br />
<div>
    <script>(function (t, e, s, n) { var o, a, c; t.SMCX = t.SMCX || [], e.getElementById(n) || (o = e.getElementsByTagName(s), a = o[o.length - 1], c = e.createElement(s), c.type = "text/javascript", c.async = !0, c.id = n, c.src = ["https:" === location.protocol ? "https://" : "http://", "widget.surveymonkey.com/collect/website/js/tRaiETqnLgj758hTBazgdzaF_2Fbaew6JAftgpopKll8aUIkbTXZIKK7IcE_2BEDk0S6.js"].join(""), a.parentNode.insertBefore(c, a)) })(window, document, "script", "smcx-sdk");</script><a style="font: 12px Helvetica, sans-serif; color: #999; text-decoration: none;" href=https://www.surveymonkey.com> Create your own user feedback survey </a>
</div>
    

