@{
    ViewBag.Title = "Racing Education";
}

<section id="primary">
    <h1 class="common-Uppercase">Racing Education</h1>
    <div class="cols container-lg">
        <section id="Wagering">
            <br />
            <i class="fa fa-dollar-sign fa-3x" style="color:#072419;"></i>
            <br />
            <p class="common-LargerBodyText FivepxPadding">
                This page will help guide you on what you need to know before you head to the track for a day of races. For a beginner, betting on races can seem a bit complicated. Here we have simplified things
                for you by giving you a quick lesson on the basics of wagering. Take a look at the videos, brought to you by Churchil Downs, and other information
                below so you can sound like a pro when you step up to the betting window at the track!
            </p>
            <br />
        </section>
    </div>
    <div class="cols container-lg">
        <section id="whatYouNeed">
            <p class="common-UppercaseTitle">What you need before you bet</p>
            <p class="common-BodyText">
                -  Cash to pay for the bet<br />
                -  Race number<br />
                -  Type of Wager<br />
                -  Number of the horse(s)
            </p>
        </section>
        <section id="whatYouNeed">
            <p class="common-UppercaseTitle">Types of bets</p>
            <p class="common-BodyText">
                There are a many different ways you can bet. 
                You can bet on just one horse alone, or multiple horses.
                The simplest type of bets are win, place, and show.
                The other types, generally for the more experienced bettor, are exacta and trifecta boxes.
                These are much more difficult, but yield a higher reward. Watch the videos below to get a better understanding on the types of bets!
            </p>
        </section>
    </div>
    <br />
        <iframe width="700" height="450" src="https://www.youtube.com/embed/_hXYKhTHnQI" frameborder="0" allowfullscreen></iframe>
    <br />
    <br />
    <br />
    <br />
        <iframe width="700" height="450" src="https://www.youtube.com/embed/lKpAnR2ZqfU" frameborder="0" allowfullscreen></iframe>
    <br />
    <br />
    <br />
    <br />
        <iframe width="700" height="450" src="https://www.youtube.com/embed/6DK31EvACis" frameborder="0" allowfullscreen></iframe>
    <br />
</section>

