body {
    padding-top: 50px;
    padding-bottom: 400px;
    background: #f6f9fc;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {

}

/*Banner text stuff*/
.navbar-inverse .navbar-nav > li > a, .navbar-inverse .navbar-brand {
    color: white;
    font-family: Camphor,Open Sans,Segoe UI,sans-serif;
    font-size: 20px;
}

.navbar-inverse {
    border: none;
    /*background: #00c453;*/
    background: #24b47e;
}

#fluid {

}


.jumbotron {
}

.img-gallery-img{
    width:100%;
    margin:auto;
}

/*Social media span*/
#socialMediaSpan {
    border-bottom: 2px solid #cccdce;
    padding-top: 20px;
}

.socialMediaIcon {
    height: 4em;
    width: 4em;
    fill: #24b47e;
    margin-left: 90px;
    margin-right: 90px;
}

.carousel-inner > .item > img {
    margin: auto;
}

.carousel{
    max-height:800px;
}

.input {
    max-width: none !important;
}

#custom-search-input input {
    border: 0;
    box-shadow: none;
    min-height: 45px;
}

#custom-search-input button {
    margin: 2px 0 0 0;
    background: none;
    box-shadow: none;
    border: 0;
    color: #666666;
    padding: 0 8px 0 10px;
    border-left: solid 1px #ccc;
}

    #custom-search-input button:hover {
        border: 0;
        box-shadow: none;
        border-left: solid 1px #ccc;
    }

#custom-search-input .glyphicon-search {
    font-size: 23px;
}

#SearchArea{
    margin-bottom:4px;
}



/*Drop Down menu Style*/
.navbar-nav > li > .dropdown-menu {
    background: rgba(0,0,0,0.65);
    color:white;
    font-size:22px;
    padding:7px;
}

.dropdown-menu > li > a{
    color:white;
}

/*Home Index Section*/
#primary {
    height: 760px;
    text-align: center;
    background: #f6f9fc;
    vertical-align:central;
    font-family: Camphor,Open Sans,Segoe UI,sans-serif;
    /*background-size: cover;*/
    /*background-image: url("https://s3-ap-southeast-1.amazonaws.com/files.blogbeats.me/original/597b0ac510cf220009722709-597b0bc110cf22000972270c-horse_race.jpg")*/
}

#homeIndexJumbo{
    background-image:url(hbpaBanner4.jpg);
    background-size:cover;
    color:white;
    text-shadow:2px 2px 40px black;
    margin-top:5px;
}

.common-Uppercase {
    color: #24b47e;
    font-weight: 600;
    font-size:41px;
    text-transform: uppercase;
    letter-spacing: .025em;
    font-family: Camphor,Open Sans,Segoe UI,sans-serif;
}

.common-BodyText {
    font-weight: 400;
    font-size: 17px;
    line-height: 26px;
    color: #6b7c93;
}

.common-UppercaseTitle {
    color: #24b47e;
    text-transform:uppercase;
    font-size:22px;
    line-height:33px;
}