body {
     /*padding-top: 400px;*/  
     padding-bottom: 40px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/*Banner text stuff*/
.navbar-inverse .navbar-nav > li > a, .navbar-inverse .navbar-brand {
    color: white;
    font-family: pp-sans-small-medium,Helvetica Neue,Arial,sans-serif;
    font-size: 24px;
}

.navbar-inverse {
    /*background: url(https://www.paypalobjects.com/digitalassets/c/website/marketing/na/us/home/hero-uncookied-wire-transfer.jpg);*/
    /*background-size: cover;*/
    background: none;
    background-color:transparent;
    border:none;
    position:absolute;
}

#fluid {
    background: url(../Content/hbpaBanner2.jpg);
    background-size: cover;
    min-height:400px;
    max-height:400px;
    min-width:100%;
    max-width:100%;
}


