
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
@*<head>
    <meta name="viewport" content="width=device-width" />
    <title>404 Page</title>
    <link href="~/Content/404ErrorPage.css" rel="stylesheet" />
</head>
<body>
        <h1>Whoops!</h1>
        <h3>Something went wrong.</h3>
</body>*@

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>404</title>
</head>
<body>
    <h2>Oops!</h2>
    <h4>Something went wrong.</h4>
</body>
</html>
