@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>404</title>
</head>
<body>
    <h2>Oops!</h2>
    <h4>The page you tried to visit doesn't exist.</h4>
</body>
</html>
